@model CheeseMVC.ViewModels.DeleteCheesesViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckBoxDelete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Cheeses</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="CheckBoxDelete">
        @foreach(var item in Model.Cheeses){
            @Html.Label(item.Name)
            @Html.CheckBox("SelectedCheeses", new { name = "SelectedCheeses", value = item.Id } )
        }
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>
